<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asyn.jamesbond"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_activity" >
        </activity>
        <activity
            android:name=".SelectMovieActivity"
            android:label="@string/title_activity_select_movie" >
        </activity>
        <activity
            android:name=".QuotesActivity"
            android:label="@string/title_activity_quotes" >
        </activity>
        <activity
            android:name=".GunbarrellActivity"
            android:label="@string/title_activity_gunbarrell" >
        </activity>
    </application>

</manifest>